@use '../tools/helper';
@use '../settings/color' as clr;
@use '../tools/media-queries.scss' as mq;

.top {
	margin-bottom: 90px;
  
  &__mv {
    position: relative;
    width: 100%;
		height: 100vh;
  }
  
  &__mv-background-img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__mv-content {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: clr.$tertiary-color;
    text-align: center;
    padding-inline: 30px;
  }

  &__mv-socmed-link {
    margin-top: 38px;
    display: flex;
    gap: 91px;
  }

  &__mv-mouse-container {
    position: absolute;
    display: grid;
    justify-items: center;
    gap: 4px;
    bottom: 30px;
    left: 0;
    width: 100%;
  }

  &__mv-mouse-stick {
    content: '';
    height: 40px;
    width: 2px;
    border-radius: 5px;
    background-color: clr.$tertiary-color;
  }

  &__mv-mouse {
    position: relative;
    content: '';
    height: 70px;
    width: 40px;
    border: solid 2px clr.$tertiary-color;
    border-radius: 20px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  &__mv-mouse-dots {
    position: absolute;
    margin-top: 8px;
    content: '';
    background-color: clr.$tertiary-color;
    width: 5px;
    height: 5px;
    border-radius: 4px;
    animation: mymove 3s infinite;
  }

  @keyframes mymove {
    from {top: 0;}
    to {top: 50px;}
    
    0%, 100% { opacity: 0;}
    50% { opacity: 1;}
  }

  &__objective-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-block: 56px;
    margin-inline: 30px;
    color: clr.$text-tertiary;
    @include mq.sp {
      margin-inline: unset;
    }
  }

  &__objective-line {
    content: "";
    width: 308px;
    height: 3px;
    display: block;
    border-radius: 4px;
    background-color: #fff;
    @include mq.max(425px) {
      width: 270px;
    }
  }

  &__objective-line1 {
    content: "";
    width: 390px;
    height: 3px;
    display: block;
    border-radius: 4px;
    background-color: #fff;
    @include mq.max(425px) {
      width: 190px;
    }
  }

  &__objective-title-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 22px;
    color: clr.$text-tertiary;
  }

  &__objective-title-container1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;
  }

  &__objective-btn-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 22px;
  }

  &__objective-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-inline: 34px;
    padding-block: 10px;
    background-color: clr.$text-tertiary;
    color: clr.$color-bg-btn;
    border-radius: 50px;
    font-size: 15px;
    position: relative;

    &:hover + .top__objective-arrow {
      right: 5px;
    }
  }

  &__objective-btn {
    color: clr.$color-bg-btn;
  }

  &__about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: clr.$text-tertiary;
    @include mq.max(1432px) {
      display: grid;
      grid-template-columns: repeat(1, 2fr);
      justify-items: center;
      gap: 50px;
    }
  }

  &__about-content-container {
    display: flex;
    gap: 51px;
    @include mq.max(1432px) {
      justify-items: end;
      gap: 51px;
    }
    @include mq.max(1200px) {
      gap: 20px;
    }
    @include mq.max(859px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__about-container {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    position: relative;
    width: 651px;
    @include mq.max(859px) {
      width: 100%;
    }
  }

  &__about-education-title {
    letter-spacing: 5.686px;
    margin-top: 67px;
    margin-bottom: 31px;
    @include mq.max(1200px) {
      margin: unset;
      padding-block: 41px;
    }
  }

  &__about-education-section {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 15.63px;
    font-size: 22px;
    margin-bottom: 41px;
    @include mq.max(1200px) {
      font-size: 18px;
    }
  }

  &__about-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 220px;
    @include mq.max(1432px) {
      flex-direction: unset;
    }
  }

  &__about-title {
    letter-spacing: 5.686px;
    transform: rotate(-90deg);
    position: absolute;
    width: max-content;
    @include mq.max(1432px) {
      transform: rotate(0);
    }
  }

  &__about-title-line {
    content: '';
    height: 178px;
    width: 2px;
    background-color: clr.$text-tertiary;
    @include mq.max(1432px) {
      width: 300px;
      height: 2px;
    }
    @include mq.tablet {
      width: 200px;
    }
    @include mq.sp {
      width: 100px;
    }@include mq.max(425px) {
      display: none;
    }
  }

  &__about-btn-wrapper {
    display: flex;
    margin-top: auto;
  }

  &__about-btn-container {
    position: relative;
    padding-inline: 32px;
    padding-block: 15px;
    border: clr.$text-tertiary solid 1px;
    border-radius: 50px;
    
    &:hover .top__about-btn-arrow {
      transform: translateX(5px);
    }

    &::before {
      content: '';
      top: 0;
      left: 0;
      display: block;
      position: absolute;
      background-color: #1C2541;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      transition: 0.4s ease;
      z-index: -1;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__about-btn-arrow {
    color: #F9AA33;
    position: relative;
    transition: all 0.5s ease;
  }

  &__about-btn {
    font-size: 15px;
    margin-right: 7px;
    color: clr.$text-tertiary;
  }

  &__services-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include mq.max(680px) {
      grid-template-columns: repeat(1, 2fr);
    }
  }
  
  &__services-container {
    position: relative;
    margin-block: 30px;
    padding-inline: 30px;
  }

  &__services-icon {
    position: absolute;
    left: 0;
    font-size: 50px;
    z-index: -1;
    color: clr.$color-bg-primary;
  }

  &__skill-container {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    justify-items: center;
    align-items: center;
    gap: 50px;
  }

  &__skill-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 180px;
    @include mq.sp {
      gap: 85px;
    }
  }

  &__skill-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 160px;
  }

  &__skill-title {
    letter-spacing: 5.686px;
    position: absolute;
  }

  &__skill-title-line {
    content: '';
    width: 300px;
    height: 2px;
    background-color: clr.$text-tertiary;
    @include mq.tablet {
      width: 100px;
    }
    @include mq.max(375px) {
      display: none;
    }
  }

  &__skill-icon {
    justify-items: center;
    color: clr.$text-tertiary;
  }

  &__portfolio-bg-title {
    position: relative;
  }

  &__portfolio-title {
    text-shadow: black 1px 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
  }

  &__portfolio-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-inline: auto;
    width: 100%;
    @include mq.sp {
      padding-block: 0;
      padding-bottom: 20px;
    }
  }

  &__portfolio-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__portfolio-card {
    position: relative;
    margin-block: 30px;
    margin-inline: 10px;
    overflow: hidden;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @include mq.sp {
      height: 400px;
    }
  }

  &__portfolio-overlay-wrapper {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.4s ease;

    &:hover {
      background-color: clr.$color-bg-primary-transparent;
    }

    &:hover .top__portfolio-overlay-title {
      opacity: 1;
      color: clr.$text-tertiary;
    }
  }

  &__portfolio-overlay-title {
    top: 160px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    letter-spacing: 1.5px;
    transition: 0.4s ease;
    font-size: 20px;

    &::before {
      content: '';
      position: absolute;
      border: solid 2px clr.$text-tertiary;
      padding-inline: 30px;
      padding-block: 20px;
      width: 100%;
    }
  }

  &__portfolio-overlay-description-container {
    bottom: -250px;
    height: 750px;
    display: flex;
    align-items: end;
    position: absolute;
    transition: all 0.5s ease;
    @include mq.sp {
      height: 650px;
    }

    &:hover {
      bottom: 0;
    }
  }

  &__portfolio-overlay-description {
    width: 100%;
    height: 250px;
    position: relative;
    padding-inline: 20px;
    padding-block: 25px;
    background-color: clr.$color-main-bg;
    color: clr.$text-tertiary;
    text-align: center;
    font-size: 16px;
    display: grid;
    gap: 30px;
    justify-items: center;
    align-content: center;
  }

  &__portfolio-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__portfolio-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }


  &__portfolio-overlay-btn-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: clr.$text-tertiary;
    color: clr.$color-bg-btn;
    border-radius: 50px;
    padding-inline: 30px;
    padding-block: 5px;
    font-size: 16px;
    gap: 10px;
  }

  &__portfolio-overlay-btn-container {
    color: clr.$color-bg-btn;
    letter-spacing: 3px;
  }

  &__portfolio-btn {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    pointer-events: none;
  }
  
  &__splide-btn {
    color: clr.$color-bg-btn;
    padding-block: 30px;
    padding-inline: 5px;
    border-radius: 50px;
    background-color: clr.$text-tertiary;
    cursor: pointer;
    transition: 0.5s ease;
    border: 1px solid clr.$text-tertiary;
    pointer-events: auto;
    font-size: 30px;
    @include mq.max(389px) {
      display: none;
    }

    &:hover {
      color: clr.$text-tertiary;
      background-color: clr.$color-bg-btn;
    }
  }

  &__portfolio-overlay-btn {
    font-size: 16px;
    color: clr.$text-tertiary;
    border: 2px solid clr.$text-secondary;
    letter-spacing: 5px;
    padding-block: 5px;
  }

  &__contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mq.sp {
      grid-template-columns: repeat(1, 2fr);
    }
  }

  &__contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: clr.$secondary-color;
    font-size: 19.9px;
    gap: 53.21px;
    padding-inline: 36px;
    padding-block: 50px;
    position: relative;
  }

  &__contact-form-container {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    width: 100%;
  }

  &__contact-input {
    outline: none;
    box-shadow: none;
    border-style: none;
    border-bottom: 4px solid #1C2541;
    border-radius: 4px;
    background-color: transparent;
    margin-bottom: 41px;
    font-size: 15px;
    line-height: 1.8;
  }

  &__contact-form-text {
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 14px;
  }

  &__contact-message {
    height: 120px;
    width: 100%;
    outline: none;
    box-sizing: none;
    border-style: none;
    background-color: transparent;
    border-bottom: 4px solid #1C2541;
  }

  &__contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__contact-info-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 71px;
    @include mq.sp {
      text-align: center;
      gap: 20px;
    }
  }

  &__contact-info-list {
    margin-bottom: 31px;
    color: clr.$secondary-color;
  }

  &__contact-submit {
    display: flex;
    justify-content: start;
    bottom: 66px;
    margin-top: 53px;
    border: none;
    background-color: transparent;
  }

  &__contact-submit-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-block: 10px;
    padding-inline: 20px;
    border: 1px solid clr.$text-secondary;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    letter-spacing: 5px;

    &:hover .top__contact-arrow {
      transform: translateX(5px);
    }

    &:hover {
      color: clr.$text-tertiary;
      background-color: clr.$text-secondary;
    }
  }

  &__contact-arrow {
    transition: 0.3s ease-in-out;
  }
}